/*======== team_area css ==========*/
.team_area{
   
   background: rgba(242,101,52, 1);
    //background-image: -moz-linear-gradient( 145deg, rgb(250,166,31) 0%, rgb(237,24,71) 100%);
    //background-image: -webkit-linear-gradient( 145deg, rgb(250,166,31) 0%, rgb(237,24,71) 100%);
    //background-image: -ms-linear-gradient( 145deg, rgb(250,166,31) 0%, rgb(237,24,71) 100%);
    position: relative;
    z-index: 1;
    padding: 70px 0px;
    &:before{
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        opacity: 0.06;
        z-index: -1;
        background: url("../icon/pexels-photo-1204649.jpeg") no-repeat scroll center 0;
        background-size: cover;
    }
    &.best_freelancer{
        background-image: -moz-linear-gradient( 145deg, rgb(255,255,255) 0%, rgb(255,255,255) 100%);
        background-image: -webkit-linear-gradient( 145deg, rgb(255,255,255) 0%, rgb(255,255,255) 100%);
        background-image: -ms-linear-gradient( 145deg, rgb(255,255,255) 0%, rgb(255,255,255) 100%);
        &:before{
            background:  none;
        }
        .section_title{
            text-align:left;
            max-width: 100% !important;
        }
        .team_member{
           border:1px solid #efefef;
           
        }
        .content {
            padding-top:15px;
            padding-left:15px;
            height:71px;
            position:relative;
            .img-thumbnail{
                width:40px;
                float:left;
            }
            .seller-info{
                font-size: 12px;
                float: left;
                padding-left: 10px;
                span{
                    color:#000;
                }
                .orange{
                    color: orange;
                }
                .ash{
                    color: #8a8a8a;
                }
                p{
                    margin:-11px 0;
                    font-size: 11px;
                    
                }
            }
        }
    }
}
.team-carousel{
}
.owl-dots{
    text-align: center;
    margin-top: 75px;
    .owl-dot{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #fad5c2;
        display: inline-block;
        margin: 5px 5px 0px;
        &.active,&:hover{
            background: $orang; 
        }
    }
}
.team_member{
    background: #fff;
    
    img{
        max-width: 100%;
    }
    .content{
        text-align: left;
        padding: 30px 30px 25px;
        h2{
            font: 700 18px/28px $rob;
            color: $dk-b;
            min-height:58px;
            text-transform: capitalize;
        }
        h6{
            color: #666666;
            font-family: $rob;
            font-size: 16px;
            line-height: 28px;
            font-weight: 400;
            padding-bottom: 16px;
        }
        .social{
            padding-top: 20px;
            a{
                display: inline-block;
                width: 34px;
                height: 34px;
                text-align: center;
                line-height: 34px;
                font-size: 16px;
                border-radius: 50%;
                color: #111111;
                margin: 0px 3px;
                transition: all 0.4s linear;
                &:hover{
                    background-image: -moz-linear-gradient( 145deg, rgb(250,166,31) 0%, rgb(237,24,71) 100%);
                    background-image: -webkit-linear-gradient( 145deg, rgb(250,166,31) 0%, rgb(237,24,71) 100%);
                    background-image: -ms-linear-gradient( 145deg, rgb(250,166,31) 0%, rgb(237,24,71) 100%);
                    color: #fff;
                }
            }
        }
    }
    &:hover{
        h2{
            color: rgb(250,166,31);
            background-image: -moz-linear-gradient( 145deg, rgb(250,166,31) 0%, rgb(237,24,71) 100%);
            background-image: -webkit-linear-gradient( 145deg, rgb(250,166,31) 0%, rgb(237,24,71) 100%);
            background-image: -ms-linear-gradient( 145deg, rgb(250,166,31) 0%, rgb(237,24,71) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}


/*========team-area-two css =========*/
.team-area-two{
    background: #b166ff;
    .team_member{
        img{
            max-width: 100%;
        }
        .content{
            .social a:hover{
                background: #b166ff;
            }
        }
        &:hover{
            h2{
                color: #b166ff; 
                -webkit-text-fill-color: initial;
            }
        }
    } 
}

.team_area_three{
    .team_member{
        &:hover{
            h2{
                color: #8675ff; 
                -webkit-text-fill-color: initial;
            }
        }
    } .content .social a:hover{
        background: #8675ff;
    }
}

.team_area_four{
    .team_member{
        box-shadow: 0px 4px 19px 1px rgba(106, 106, 106, 0.15);
        .content{
            .social a{
                transition: all 0s linear;
                &:hover{
                    background-image: -moz-linear-gradient( 0deg, rgb(71,118,230) 0%, rgb(142,84,233) 100%);
                    background-image: -webkit-linear-gradient( 0deg, rgb(71,118,230) 0%, rgb(142,84,233) 100%);
                    background-image: -ms-linear-gradient( 0deg, rgb(71,118,230) 0%, rgb(142,84,233) 100%);
                }
            }
        }
        &:hover{
            h2{
                background-image: -moz-linear-gradient( 0deg, rgb(71,118,230) 0%, rgb(142,84,233) 100%);
                background-image: -webkit-linear-gradient( 0deg, rgb(71,118,230) 0%, rgb(142,84,233) 100%);
                background-image: -ms-linear-gradient( 0deg, rgb(71,118,230) 0%, rgb(142,84,233) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    } 
}


.team_area_five{
    background: #f8fafc;
    .team_member{
        .content{
            .social a{
                transition: all 0s linear;
                &:hover{
                    background: #ef494d;
                }
            }
        }
        &:hover{
            h2{
                background: #ef494d;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}

/*more_text_area css
==================================================*/
.more_text_area{
    padding-top: 115px;
}
.more_content{
    max-width: 610px;
    display: inline-block;
    h3{
        font: 400 35px/45px $rob;
        color: #1a264a;
    }
}
.more_btn{
    font: 400 18px/20px $rob;
    color: #fff;
    border-radius: 40px;
    background: #ef494d;
    padding: 25px 96px;
    display: inline-block;
    text-transform: uppercase;
    float: right;
    margin-top: 28px;
    border: 1px solid transparent;
    transition: all 0.4s linear;
    &:hover{
        border-color: #ef494d;
        background: #fff;
    }
}



/*============ start faq area 2 css ============*/
.faq-area-2{
    background: #fff;
    padding: 70px 0px 70px;
    .faq-img{
        text-align: center;
        @media(max-width:991px){
            padding-top: 50px;
        }
        img{
            max-width: 100%;
        }
    }
    .faq_accordian_two{
        padding-top: 50px;
        @media(max-width:991px){
            padding-top: 0px;
        }
    }
}
.faq-inner-accordion{
    margin-bottom: 0px;
    .panel{
        border-radius: 0px;
        border: 0px;
        box-shadow: none;
        position: relative;
        &:before{
            content: '';
            width: 1px;
            height: 92%;
            position: absolute;
            top: 5px;
            left: 60px;
            background: #f1f1f1;
        }
        .panel-heading{
            padding: 0px;
            background: transparent;
            .panel-title{
                a{
                    display: block;
                    font: 400 18px/30px $rob;
                    color: #1a264a;
                    position: relative;
                    padding-left: 88px;
                    padding-bottom: 15px;
                    padding-top: 15px;
                    i{
                        font-size: 19px;
                        color: #ef494d;
                        width: 60px;
                        text-align: center;
                        display: inline-block;
                        line-height: 60px;
                        transition: all 0.6s linear;
                        position: absolute;
                        left: 0;
                        top: 0;
                        &.minus{
                           display: inline-block; 
                        }
                        &.plus{
                            display: none;
                        }
                    }
                    &.collapsed{
                        .plus{
                            display: inline-block;
                        }
                        .minus{
                           display: none; 
                        }
                    }
                }
            }
        }
        .panel-collapse{
            .panel-body{
                border-top: 0px;
                font: 400 15px/28px $rob;
                color: #585e68;
                padding: 0px 40px 26px 88px;
            }
        }
        & + .panel{
            margin-top: 20px;
        }
    }
}
/*============ End faq area 2 css ============*/



/*team_area_solid css
=====================================================================*/
.team_area_solid{
    padding: 120px 0px;
    .team_member{
        .content{
            h2{
                font-family: $rob;
                color: #1a264a;
            } 
            .social a:hover{
                background: #4c83ff;
            }
        } 
        &:hover{
            h2{
                color: #4c83ff;
                background-image: none;
                -webkit-text-fill-color: inherit;
            }
        }
    } 
}
.guide_to_work{
    .owl-item{
        .team_member{
        border-radius: 5px;
        }
    }
    }
    .cl_slider{
        label{
            position: relative;
bottom: -11px;
        font-size: 20px;
        font-weight: normal;
        color: #333;
        margin-top: 50px;
        margin-bottom: 0px;
        }
    .clients-lg-slider{
        .owl-dots{
            display:none;
        }
    }
    }
    .gigbox {
        margin-top: 30px;
        img{
            width:100%;
        }
    }